:root {
  /* Color Styles */
  --dark-blue: #084154;
  --blue: #3ec6e0;
  --silver: #ebebeb;
  --swiper-navigation-size: 1.2em !important;
  --swiper-theme-color: #ffffff !important;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
/* @import url("./src/styles/header.css"); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  /* background-color: var(--dark-blue); */
}

html {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Section topo */
.section-topo {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 480px;
  width: 100%;
}
.swiper-container {
  position: relative;
  /* border: 1px solid rgb(6, 7, 6); */
}

.swiper-text-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  z-index: 30;
  background: rgba(0, 0, 0, 0.65);
  height: 45%;
  width: 100%;
  bottom: 0;
  padding-right: 1.5em;
}
.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}
.swiper-text-titlePrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-text-title {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 30.47px;
  font-weight: 900;
}
.swiper-text-price {
  display: flex;
  justify-content: flex-end;
}
.swiper-text-price1 {
  font-weight: 900;
  font-size: 48px;
  font-style: normal;
  line-height: 56px;
  color: var(--blue);
}
.swiper-text-price2 {
  font-weight: 900;
  font-size: 28px;
  /* line-height: 33px; */
  color: var(--blue);
}
.swiper-text-description {
  width: 85%;
  text-align: right;
}
.swiper-text-description p {
  font-size: 12px;
  line-height: 155%;

  /* or 19px */
}
.carousel-images {
  z-index: 10;
  top: 0;
  left: 0;
  /* position: absolute; */
}
.carousel-info {
  display: flex;
  z-index: 20;
  /* margin-top: -5px; */
  /* position: absolute; */
  /* bottom: 0px; */
  /* right: 0; */
  width: 100%;
  height: 52px;
}
.carousel-title {
  background-color: var(--blue);
  width: 65%;
  flex-basis: 1;
  border-radius: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
}
.carousel-gameTitle {
  margin-left: 22px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-transform: uppercase;
}
.carousel-line {
  /* width: 50%; */
  /* border: 1px solid rgb(248, 15, 7); */
}
.carousel-control {
  /* position: relative; */
  background-color: var(--dark-blue);
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-custom {
  position: static;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  bottom: auto !important;
  width: 100%;
}
.swiper-pagination-custom {
  color: white;
  height: 17px !important;
  width: 49% !important;
  position: static !important;
}
.carousel-buttons {
  display: flex;
  /* border: 1px solid rgb(255, 17, 17); */
  height: 100% !important;
  width: 49% !important;
  /* position: absolute; */
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  justify-content: space-between;
  /* bottom: 0; */
}

.swiper-button-custom {
  color: white;
  /* border: 1px solid rgb(102, 255, 0); */
  position: static !important;
  top: auto !important;
  right: auto !important;
  left: auto !important;
  bottom: auto !important;
  width: 100% !important;
  height: 100% !important;
  margin-top: auto !important;
}
.prev {
  margin-left: -1em;
}
/* Section main */
.container-main {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section-banner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.banner-conteudo {
  position: relative;
  width: 90%;
  margin: 1em;
}
.banner-image {
  max-width: 100%;
  height: auto;
}
.banner-title {
  height: 31.64px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.banner-column {
  height: 100%;
  width: 5px;
  background: var(--dark-blue);
  border-radius: 0px 0px 0px 5px;
}
.banner-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1em;
  background: var(--blue);
  border-radius: 0px 0px 5px 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: var(--dark-blue);
  flex-grow: 1;
}
.banner-text h3 {
  text-align: center;
}
.line {
  margin-left: 1em;
  border: 1px solid var(--dark-blue);
  flex-grow: 1;
}

.section-produtos {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.title-shelf {
  width: 100%;
  display: flex;
  align-items: center;
}
.title-shelf img {
  height: 18px;
  width: 18px;
  margin-right: 1em;
}
.title-shelf h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-blue);
}

.shelf-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swiper2 {
  width: 80%;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-button-prev2,
.swiper-button-next2 {
  flex-grow: 1;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  z-index: 99;
  cursor: pointer;
}

.swiper-button-prev2 {
  justify-content: flex-start;
  /* width: 5px; */
  /* height: 10px; */
  /* background-color: red; */
  /* flex-grow: 1; */
}

.swiper-button-prev2 img {
  /* width: 1em; */
  height: 3em;
  /* background-color: red; */
}
.swiper-button-next2 {
  justify-content: flex-end;
  /* width: 5px;
  height: 10px; */
  /* flex-grow: 1; */
}
.swiper-button-next2 img {
  /* width: 1em; */
  height: 3em;
  /* background-color: red; */
}

.swiper-slide-duplicate-active {
  opacity: 0;
}

.product {
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
  height: auto;
}

.line-product {
  /* margin-left: 1em; */
  width: 100%;
  background-color: var(--blue);
  height: 1.35px;
}
.info-product {
  color: var(--dark-blue);
  background-color: #f5f5f5;
  border-radius: 0px 0px 10px 10px;
  height: 141.23px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.name-product {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.price-product {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}
.button-buy {
  text-transform: uppercase;
  align-self: center;
  border: none;
  background: var(--blue);
  border-radius: 5px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  width: 162.17px;
  height: 35.14px;
  cursor: pointer;
}

/* Footer */
.footer {
  margin-top: 4em;
  width: 100%;
  height: 68px;
  display: flex;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
}
.footer-left {
  background-color: var(--dark-blue);
  width: 20%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 43px;
  height: 28px;
}
.footer-right {
  background-color: var(--blue);
  width: 80%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.footer-text {
  width: 60%;
  text-align: left;
  margin-left: 2em;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}
