.swiper-container {
  position: relative;
  /* border: 1px solid rgb(6, 7, 6); */
}

.swiper-text-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: absolute;
  z-index: 30;
  background: rgba(0, 0, 0, 0.65);
  height: 45%;
  width: 100%;
  bottom: 0;
  padding-right: 1.5em;
  @media (min-width: $layout-breakpoint-desktop) {
    width: 500px;
    z-index: 99;
    background: none;
    margin-right: 20px;
    // background: rgba(0, 0, 0, 0.65);
    right: 10%;
    top: 30%;
  }
}
.swiper-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}
.swiper-text-titlePrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.swiper-text-title {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 30.47px;
  font-weight: 900;
}
.swiper-text-price {
  display: flex;
  justify-content: flex-end;
}
.swiper-text-price1 {
  font-weight: 900;
  font-size: 48px;
  font-style: normal;
  line-height: 56px;
  color: var(--blue);
}
.swiper-text-price2 {
  font-weight: 900;
  font-size: 28px;
  color: var(--blue);
}
.swiper-text-description {
  width: 85%;
  text-align: right;
}
.swiper-text-description p {
  font-size: 12px;
  line-height: 155%;

  /* or 19px */
}
.carousel-images {
  z-index: 10;
  top: 0;
  left: 0;
  /* position: absolute; */
}
